@font-face {
    font-family: 'tan-nimbus';
    src: url('fonts/tan-nimbus.woff2') format('woff2'),
        url('fonts/tan-nimbus.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    }
